/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "1.0.0"
   mainScript = "main.nf"
   defaultBranch = "master"
   name = "QC reads and alignments"
   desription = "Collects processing data from preprocessing steps (adapter trimming and quality filtering) as well as from alignment steps and returns them. Provides an overview of the general quality of the data."
   nextflowVersion = "23.04.1"
}

/*
 * Parameters
 */

params {
   // General parameters
   output = "output"
   // Read processing
   min_length = 20               //Minimum length of reads to remain after adapter trimming
   min_qual = 20                 //Minimum quality allowed for bases to remain
   min_percent_qual_filter = 90  //Percentage of bases within a read that need to be above the quality threshold for the read to remain
}


/*
 * Fixed Parameters (should not be accessed)
 */

params.manifest = manifest

/*
 * Executor options
 */

process.executor = 'slurm'
podman.enabled = true