/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "1.0.0"
   mainScript = "main.nf"
   defaultBranch = "master"
   name = "< Short name >"
   desription = "< Short description >"
   nextflowVersion = "23.04.1"
}

/*
 * Parameters
 */


/*
 * Fixed Parameters (should not be accessed)
 */

params.manifest = manifest